//Variables
$regularFont: "AncizarSans Regular", sans-serif;
$boldFont: "AncizarSans Bold", sans-serif;
$boldItalic: "AncizarSans Bold Italic", sans-serif;
$yellow: #f8ae10;
$grayOpacity1: #5a5b5a;
$grayOpacity2: #3e3e3e;
